mixin burger
    .burger
        .row
            .col-xl-12.d-block.d-lg-none
                .burger__menu
                            input(type="checkbox")#checkbox
                            label.burger__button(for="checkbox")
                                span
                            .burger-nav__list
                                .burger-nav__item
                                    a(href="#who").burger-nav__link Who We Are
                                .burger-nav__item   
                                    a(href="#what").burger-nav__link What We Do
                                .burger-nav__item
                                    a(href="#travel").burger-nav__link Travel With Us
                                .burger-nav__item
                                    a(href="#contact").burger-nav__link.burger-nav__link-last Contact Us  
                      
                            