mixin first-section
    .first-section#what
        .container
            .row
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12
                    .first-section__widget.widget
                        .widget__content
                            .widget__name
                                h2.widget-name Spain
                            .widget__title
                                h3.widget-title Grand Spain Madrid
                            .widget__text
                                p.widget-text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                            .widget__link
                                a.widget-link.d-flex.align-items-center.justify-content-center(href="javascript:void(0)") Book Now
                                .who__box
                        
