mixin footer
    .footer#contact
        .container
            .row.d-flex.justify-content-center
                .col-xl-3.col-lg-3.col-md-12.col-sm-12.col-12
                    .footer__headline
                        .footer__title
                            h2.footer-title Bhromaon
                        .footer__subtitle
                            p.footer-subtitle Safe Travel Anywhere
            .row.d-xl-flex.justify-content-xl-center.d-lg-flex.justify-content-lg-center.d-md-flex.justify-content-md-center.d-sm-flex.justify-content-sm-center.d-flex.justify-content-center
                .col-xl-3.col-lg-3.col-md-4.col-sm-5.col-10
                    .footer__links.link
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-facebook-f
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-twitter
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-linkedin-in
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-youtube
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-pinterest
                        