mixin footer
    .footer#contact
        .container
            .row.d-flex.justify-content-center
                .col-xl-3.col-lg-3
                    .footer__headline
                        .footer__title
                            h2.footer-title Bhromaon
                        .footer__subtitle
                            p.footer-subtitle Safe Travel Anywhere
            .row.d-flex.justify-content-center
                .col-xl-3.col-lg-3
                    .footer__links.link
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-facebook-f
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-twitter
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-linkedin-in
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-youtube
                        a.link__item(href="javascript:void(0)")
                            i.link__icon.fab.fa-pinterest
                        