mixin how
    .how
        .container
            .row
                .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4
                    .how__content
                        .how__icon
                            img.how-icon.icon-search(src="../images/how/search.svg", alt="")
                        .how__text
                            h2.how-text Search Places
                        
                .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4
                    .how__content
                        .how__icon.how__icon-border
                            img.how-icon.icon-search(src="../images/how/select.svg", alt="")
                        .how__text
                            h2.how-text Select Places
                .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4
                    .how__content.how__content--last
                        .how__icon
                            img.how-icon.icon-search(src="../images/how/like.svg", alt="")
                        .how__text
                            h2.how-text Book & Enjoy