mixin nav
    .nav#nav
        .container
            .nav__headline
                .row.d-xl-flex.justify-content-xl-between.align-items-xl-between
                    .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-2
                        .nav__title.d-xl-flex.align-items-xl-center
                            h2.nav-title Bhromaon
                    .col-xl-6.offset-xl-4.col-lg-7.offset-lg-3.d-lg-block.d-none
                        .nav__menu.menu.d-xl-flex
                                .menu__item
                                    a(href="#who").menu-item.d-xl-flex.align-items-xl-center Who We Are
                                .menu__item   
                                    a(href="#what").menu-item.d-xl-flex.align-items-xl-center What We Do
                                .menu__item
                                    a(href="#travel").menu-item.d-xl-flex.align-items-xl-center Travel With Us
                                .menu__item
                                    a(href="#contact").menu-item.menu-item-last.d-xl-flex.align-items-xl-center Contact Us

                    