mixin what
    .what#travel
        .container
            .row
                .col-xl-12.d-xl-flex.justify-content-xl-center.col-lg-12.col-md-12.col-sm-12.col-12
                    .what__title
                        h2.what-title What Our  Tourist Say
            .what__aside
                .row
                    .col-xl-5.col-lg-5.col-md-5.col-sm-12.col-12
                        .what__image
                            img(src="../images/what/what-image.png", alt="what-image").what-image
                    .col-xl-7.col-lg-7.col-md-7.col-sm-12.col-12
                        .what__article
                            .what__autor
                                h2.what-author Sam Sumon
                            .what__quotes
                                i.what-quotes.fas.fa-quote-left
                            .what__quote
                                p.what-quote But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
