mixin who
    .who#who
        .container
            .row
                .col-12.d-block.d-sm-none
                    .image__first
                        img(src="../images/who/who_first-image.png", alt="who_first-image").image-first            
                .col-xl-6.order-xl-1.col-lg-6.order-lg-1.col-md-5.order-md-1.col-sm-7.order-sm-1.col-12
                    .who__content
                        .who__title
                            h2.who-title Why Choose Us
                        .who__text
                            p.who-text Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                            p.who-text Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                        .who__link
                            a.who-link.d-flex.align-items-center.justify-content-center(href="javascript:void(0)") Explore Places
                            .who__box
                
                .col-xl-6.col-lg-6.col-md-6.col-sm-5.order-sm-2.col-12
                        .row
                            .col-xl-4.offset-xl-1.col-lg-4.offset-lg-1.col-md-4.offset-md-1.col-sm-12.offset-sm-0.d-none.d-sm-block
                                .image__first
                                    img(src="../images/who/who_first-image.png", alt="who_first-image").image-first
                        .row
                            .col-xl-4.offset-xl-4.col-lg-4.offset-lg-2.col-md-4.offset-md-1.col-sm-12.offset-sm-0
                                .image__second
                                    img(src="../images/who/who_second-image.png", alt="who_first-image").image-second     
                