.first-section {
    & {

        background: url('../../images/first-section/bg_first-section.png') 50% 50%/cover no-repeat;


    }
}

.widget {
    & {
        margin-top: 229px;
        margin-bottom: 100px;
        height: 371px;
        background-color: rgba(35, 35, 35, 0.9);
        font-family: 'Josefin Sans', sans-serif;

        @media screen and (max-width: 575px) {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    &__content {
        margin-left: 29px;
        margin-top: 50px;

        @media screen and (max-width: 575px) {
            margin-left: 0px;
            margin-top: 0px;
            padding-right: -15px;
        }
    }

    &-name {
        color: #e8e8e8;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 47px;

        @media screen and (max-width: 575px) {
            margin-left: 10px;

        }
    }

    &-title {
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        padding-top: 24px;
        letter-spacing: -1px;

        @media screen and (max-width: 575px) {
            margin-left: 10px;

        }
    }

    &-text {

        color: #e8e8e8;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 23px;

        @media screen and (max-width: 991px) {

            padding-right: 6px;

        }

        @media screen and (max-width: 575px) {
            margin-left: 10px;

        }
    }

    &__link {
        margin-top: 42px;
        width: 225px;
        height: 60px;
        background-color: #5474fd;
        position: relative;

        &:hover {
            background-color: rgba(84, 116, 253, 0.8);

        }


    }

    &-link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        display: block;
        height: 100%;
        position: relative;
        z-index: 2;

    }
}

.widget__link:hover .who__box {
    opacity: 0;
}