.footer {
    & {
        background-color: #232323;
    }

    &-title {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 74px;
        letter-spacing: 2.4px;
        padding-left: -2px !important;

        @media screen and (max-width: 575px) {
            padding-top: 20px;
        }
    }

    &-subtitle {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        padding-top: 6px;
        letter-spacing: .5px;
    }

    &__links {
        padding-top: 10px;
        margin-left: 30px;

        @media screen and (max-width: 1199px) {
            margin-left: 0px;
        }

        @media screen and (max-width: 575px) {
            text-align: center;
        }


    }
}

.link__icon {
    color: #e8e8e8;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    &:hover {
        color: #5474fd;
        transition: all .3s linear;
    }
}

.link__icon::before {
    display: block;

    text-align: center;
    height: 42px;
    padding-top: 13px;

}