.how {
    & {
        height: 337px;
        background-color: #333;
    }

    &__content {
        position: relative;
        text-align: center;
        margin-top: 100px;
        border-radius: 50px;
        z-index: 3;

        @media screen and (max-width: 575px) {
            margin-top: 25px;

        }
    }

    &-icon {
        margin-bottom: 32px;
    }



    &-text {
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;

        @media screen and (max-width: 991px) {
            font-size: 3.3vw;

        }

        @media screen and (max-width: 575px) {
            font-size: 20px;

        }
    }
}