.how {
    & {
        height: 337px;
        background-color: #333;
    }

    &__content {
        position: relative;
        text-align: center;
        margin-top: 100px;
        border-radius: 50px;
        z-index: 3;

        @media screen and (max-width: 575px) {
            margin-top: 25px;
        }
    }

    &__shape {
        content: '';
        display: block;
        position: absolute;
        width: 448px;
        height: 433px;
        top: -54px;
        left: 141px;
        border: 1px dashed rgba(255, 255, 255, 0.5);
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        z-index: 100;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 12.8%, 0 12.8%);
        clip-path: polygon(0 0, 100% 0, 100% 12.8%, 0 12.8%);

        @media screen and (max-width: 1199px) {
            width: 440px;
            height: 420px;
            top: -46px;
            left: 82px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
        }

        @media screen and (max-width: 991px) {
            width: 440px;
            height: 420px;
            top: -30px;
            left: 4px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 5%, 0 5%);
        }

        @media screen and (max-width: 767px) {
            width: 440px;
            height: 420px;
            top: -30px;
            left: -62px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 3%, 0 3%);
        }
    }

    &__shape--right {

        left: 148px;

        @media screen and (max-width: 1199px) {
            left: 84px;
        }

        @media screen and (max-width: 991px) {
            left: 4px;
        }

        @media screen and (max-width: 767px) {
            left: -52px;
        }
    }

    &-icon {
        margin-bottom: 32px;
    }

    &-text {
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;

        @media screen and (max-width: 991px) {
            font-size: 3.3vw;
        }

        @media screen and (max-width: 575px) {
            font-size: 20px;
        }
    }
}