.who {
    & {
        font-family: 'Aleo', serif;
        background: url('../../images/who/who_bg.png') 50% 50%/cover no-repeat;


    }

    &-title {
        margin-top: 207px;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;

        @media screen and (max-width: 1199px) {
            font-size: 36px;

        }

        @media screen and (max-width: 991px) {
            margin-top: 142px;

        }

        @media screen and (max-width: 767px) {
            margin-top: 50px;

        }

        @media screen and (max-width: 575px) {
            margin-top: 30px;
            text-align: center;

        }
    }

    &-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #e8e8e8;
    }

    &-text:first-child {
        margin-top: 62px;
        margin-bottom: 25px;

        @media screen and (max-width: 767px) {
            margin-top: 30px;

        }
    }

    &__link {
        margin-top: 42px;
        width: 225px;
        height: 60px;
        background-color: #5474fd;
        margin-bottom: 132px;


        @media screen and (max-width: 767px) {
            margin-bottom: 50px;

        }

        @media screen and (max-width: 575px) {
            margin-bottom: 10px;
            width: 100%;
            margin-top: 10px;


        }

        &:hover {
            background-color: rgba(84, 115, 253, 0.568);
            transition: all 0.3s ease-in-out;

        }
    }

    &-link {

        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        display: block;
        height: 100%;
        letter-spacing: 1.2px;



    }

}

.image__first {
    margin-left: 15px;
    margin-top: 120px;
    position: relative;

    @media screen and (max-width: 991px) {
        margin-left: 0px;


    }

    @media screen and (max-width: 575px) {
        margin-top: 0px;


    }
}

.image-first,
.image-second {
    @media screen and (max-width: 767px) {
        width: 100%;


    }

    @media screen and (max-width: 575px) {
        width: 100%;
        padding-right: -30px;


    }



}